<nav class="navbar bottom navbar-dark " style="background-color: black;">
        <div class="col-lg-3">
            <a class="link" href="" id="addUser" role="button" style="color: white;">
                Contacts
              </a><br>
              <a class="link" href="" id="addUser" role="button" style="color: white;">
                Histoire
              </a>
        </div>
        <div class="col-lg-3">
            <a class="link" href="" id="addUser" role="button" style="color: white;">
                Recrutement
              </a>
              <br><a class="link" href="" id="addUser" role="button" style="color: white;">
                Plan du site
              </a>
        </div>
        <div class="col-lg-3">
            <a class="link" href="" id="addUser" role="button" style="color: white;">
                Mentions légales
              </a>
              <br><a class="link" href="" id="addUser" role="button" style="color: white;">
                Nos partenaires
              </a>
        </div>
        <div class="col-lg-3">
            <a class="link" href="" id="addUser" role="button" style="color: white;">
                Infos services
              </a><br>
              <a class="link" href="" id="addUser" role="button" style="color: white;">
                Groupe Ross
              </a>
        </div>
</nav>
