<app-header></app-header>
<br><br>
<div class="container-fuild">
    <div class="row">
        <div class="col-lg-3" style="padding-top:6px;">
        </div>
        <div class="col-lg-6">
            <div style="background-color: lavenderblush; border-bottom-right-radius: 25px; border-bottom-left-radius: 25px; ">
                <br><h1 style="text-align:center;">Bienvenue chez Ross Bank!</h1><br><br><br>
            </div>
        </div>
        <div class="col-lg-3">
        </div>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
