<app-header></app-header><br><br><br><div class="container">
    <h1>Liste des comptes</h1>
    <table class="table">  
    <thead class="thead-dark">
        <th scope="col">Id</th>
        <th scope="col">Libellé</th>
        <th scope="col">Numéro de compte</th>
        <th scope="col">Solde</th>
        <th scope="col">Propriétaire</th>
        <th scope="col"></th>
    </thead>
    <tbody>
        <tr *ngFor="let unCompte of listCompte" >
        <th scope="row">{{unCompte.idCompte}}</th>
        <td>{{unCompte.libelle}}</td>
        <td>{{unCompte.numeroCompte}}</td>
        <td>{{unCompte.solde}}</td>
        <td>{{unCompte.user.prenomUser}} {{unCompte.user.nomUser}}</td>
        <td><div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-danger"  (click)="deleteCompte(unCompte.idCompte, unCompte.libelle, unCompte.numeroCompte)">Supprimer</button>
            <button type="button" class="btn btn-primary"  [routerLink]="['/compte/update/'+unCompte.idCompte]">Modifier</button>
          
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Opérations
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" [routerLink]="['/operation/list1/'+unCompte.idCompte]">Compte débité</a>
                <a class="dropdown-item" [routerLink]="['/operation/list2/'+unCompte.idCompte]">Compte crédité</a>
              </div>
            </div>
          </div></td>
              </tr>    
    </tbody>
</table><br>
<a  class="btn btn-primary"  [routerLink]="['/operation']">Nouveau virement</a>

</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>